{% extends 'mainadmin.html' %}

{% block content %}
          <div class="col-lg-10 col-md-8 col-xs-12 content-col pl-0">
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper" style="min-height: 750px">
              <!-- Content Header (Page header) -->

              <!-- Main content -->
              <section class="content">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="box">
                      <div class="box-header with-border">
                        <h3 class="box-title">ویرایش تنظیمات</h3>

                        <div class="box-tools">
                          <div class="input-group input-group-sm">
                            <a
                              href="https://toosshop.com/admin/settings"
                              class="btn btn-default btn-sm"
                              >لیست تنظیمات
                              <span class="fa fa-arrow-left"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <form
                          method="post"
                          action="https://toosshop.com/admin/settings/36"
                          role="form"
                          class="form-horizontal"
                        >
                          <input
                            type="hidden"
                            name="_token"
                            value="ZopUcPw8uSNjwfbSKGl6U0dWCzFkLR97L9tlAHNk"
                          />
                          <input type="hidden" name="_method" value="PUT" />
                          <div class="form-group">
                            <label for="value" class="col-md-1 control-label"
                              >تعداد روز برای ارسال با پیک</label
                            >
                            <div class="col-md-11">
                              <textarea
                                name="value"
                                id="value"
                                class="form-control"
                                rows="5"
                              >
0</textarea
                              >
                            </div>
                          </div>
                          <input
                            type="submit"
                            class="btn btn-primary"
                            value="ذخیره تغییرات"
                          />
                        </form>
                      </div>
                      <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                  </div>
                </div>
                <!-- /.row -->
              </section>
              <!-- /.content -->
            </div>
            <!-- /.content-wrapper 
<footer class="main-footer">
  <div class="pull-right hidden-xs">
      <span>© کلیه حقوق این وب سایت متعلق به شرکت پارس آویژه ونداد می‌باشد </span>
  </div>

</footer>-->
          </div>
{% endblock content %}

{% block scripts %}
    <script>
      $(document).ready(function () {
        $(".pagination").addClass("pagination-sm no-margin pull-right");
        $(".close-callout").click(function () {
          $(this).parentsUntil(".pad").remove();
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".close-callout").click(function () {
          $(this).parentsUntil(".pad").remove();
        });
      });
    </script>
    <script>
      $(".sidebar-toggle").click(function () {
        $(".side-col").toggleClass("col-lg-1 col-md-1");
        $(".content-col").toggleClass("col-lg-11 col-md-11");
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".demo").click(function () {
          $(this).find("i").toggleClass("fa-plus-circle fa-minus-circle");
          var id = $(this).find(".category_child").attr("data-type");
          $(".category" + id).toggleClass("hide");
        });
      });
    </script>
{% endblock %}