<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>

        <form method="POST" action="{% url 'verify_password' %}">
            {% csrf_token %}
            <input type="hidden" name="mobile_number" value="{{ mobile_number }}">
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
            <p>Or <a href="{% url 'otp_login' %}">login with OTP</a></p>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
