{% extends 'mainadmin.html' %}
{% block style %}
<style>
    .custom-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    @media only screen and (max-width: 768px) {
        .dt-paging {
            margin-right: 10px!important;
            margin-left: 10px!important;
        }
    }
    div.dt-container div.dt-info {
        text-align:right!important;
    }
    .dt-paging, .dt-search {
        white-space: nowrap; 
    }
    .info-section {
        margin-bottom: 10px;
    }
    th {
        text-align: right!important;
    }
    .pagination {
        margin: 20px 0 !important;
    }
</style>
<link href="https://cdn.datatables.net/v/bs/dt-2.2.2/datatables.min.css" rel="stylesheet" integrity="sha384-xd6yqpSXZRZVl62sBIxyT2i4xVlfaxWVjVQB7qsVte0qEr3iepsBrLi/awgmIoPV" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="content-col pl-0">
    <div class="col-lg-10 col-md-8 col-xs-12 content-col pl-0">
        <div class="content-wrapper" style="min-height: 750px">
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">لیست دسته‌بندی‌ها</h3>
                                <div class="box-tools">
                                    <div class="input-group input-group-sm">
                                        <a href="{% url 'add_category' %}" class="btn btn-default btn-sm">
                                            <span class="fa fa-plus"></span> افزودن دسته‌بندی
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover" id="categories">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="padding-left:70px">نام دسته‌بندی</th>
                                            <th>ترتیب</th>
                                            <th>وضعیت</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for category in page_obj %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <span class="icon-toggle" onclick="toggleSubmenu(this)">+</span>
                                                {{ category.name }}
                                            </td>
                                            <td>{{ category.sort_order|default_if_none:"-" }}</td>
                                            <td>
                                                {% if category.status %}
                                                    <span class="label label-success">فعال</span>
                                                {% else %}
                                                    <span class="label label-warning">غیرفعال</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{% url 'edit_category' category.id %}" class="btn btn-primary btn-xs">
                                                    <span class="fa fa-pencil"></span> ویرایش
                                                </a>
                                                {% if category.status %}
                                                    <button type="submit" class="btn btn-warning btn-xs toggle-status" data-category-id="{{ category.id }}" data-current-status="true">
                                                        <span class="fa fa-exclamation"></span> غیرفعال کردن
                                                    </button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-success btn-xs toggle-status" data-category-id="{{ category.id }}" data-current-status="false">
                                                        <span class="fa fa-exclamation"></span> فعال کردن
                                                    </button>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <!-- زیردسته‌ها -->
                                        <tbody class="submenu" style="display: none;">
                                            {% for subcategory in category.subcategories %}
                                            <tr>
                                                <td>{{ forloop.parentloop.counter }}.{{ forloop.counter }}</td>
                                                <td style="padding-right: 20px;">
                                                    <span class="icon-toggle" onclick="toggleSubmenu(this)">+</span>
                                                    {{ subcategory.name }}
                                                </td>
                                                <td>{{ subcategory.sort_order|default_if_none:"-" }}</td>
                                                <td>
                                                    {% if subcategory.status %}
                                                        <span class="label label-success">فعال</span>
                                                    {% else %}
                                                        <span class="label label-warning">غیرفعال</span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'edit_category' subcategory.id %}" class="btn btn-primary btn-xs">
                                                        <span class="fa fa-pencil"></span> ویرایش
                                                    </a>
                                                    {% if subcategory.status %}
                                                        <button type="submit" class="btn btn-warning btn-xs toggle-status" data-category-id="{{ subcategory.id }}" data-current-status="true">
                                                            <span class="fa fa-exclamation"></span> غیرفعال کردن
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-success btn-xs toggle-status" data-category-id="{{ subcategory.id }}" data-current-status="false">
                                                            <span class="fa fa-exclamation"></span> فعال کردن
                                                        </button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <!-- زیردسته‌های زیردسته -->
                                            <tbody class="submenu" style="display: none;">
                                                {% for subsubcategory in subcategory.subcategories %}
                                                <tr>
                                                    <td>{{ forloop.parentloop.parentloop.counter }}.{{ forloop.parentloop.counter }}.{{ forloop.counter }}</td>
                                                    <td style="padding-right: 40px;">
                                                        {{ subsubcategory.name }}
                                                    </td>
                                                    <td>{{ subsubcategory.sort_order|default_if_none:"-" }}</td>
                                                    <td>
                                                        {% if subsubcategory.status %}
                                                            <span class="label label-success">فعال</span>
                                                        {% else %}
                                                            <span class="label label-warning">غیرفعال</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'edit_category' subsubcategory.id %}" class="btn btn-primary btn-xs">
                                                            <span class="fa fa-pencil"></span> ویرایش
                                                        </a>
                                                        {% if subsubcategory.status %}
                                                            <button type="submit" class="btn btn-warning btn-xs toggle-status" data-category-id="{{ subsubcategory.id }}" data-current-status="true">
                                                                <span class="fa fa-exclamation"></span> غیرفعال کردن
                                                            </button>
                                                        {% else %}
                                                            <button type="submit" class="btn btn-success btn-xs toggle-status" data-category-id="{{ subsubcategory.id }}" data-current-status="false">
                                                                <span class="fa fa-exclamation"></span> فعال کردن
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            {% endfor %}
                                        </tbody>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="box-footer clearfix">
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <a href="?page=1&records_per_page={{ records_per_page }}&search={{ search_query|urlencode }}">&laquo; اول</a>
                                            <a href="?page={{ page_obj.previous_page_number }}&records_per_page={{ records_per_page }}&search={{ search_query|urlencode }}">قبلی</a>
                                        {% endif %}
                                        <span class="current">
                                            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                                        </span>
                                        {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}&records_per_page={{ records_per_page }}&search={{ search_query|urlencode }}">بعدی</a>
                                            <a href="?page={{ page_obj.paginator.num_pages }}&records_per_page={{ records_per_page }}&search={{ search_query|urlencode }}">آخر &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{% load static %}
<script src="https://cdn.datatables.net/v/bs/dt-2.2.2/datatables.min.js" integrity="sha384-KsmaH+vFCWsWkBqzoXM7HmafapkguLKrj9aRyWzIIaUDqRN99PP25wJUm7ZE+KP3" crossorigin="anonymous"></script>
<script>
$('#categories').DataTable({
    dom: '<"top custom-controls"lpf>rt<"bottom custom-controls"lpf><"info-section"i><"clear">',
    "language": {
        "url": "{% static 'test/admin/js/yajra/i18n/Persian.json' %}"
    },
    lengthMenu: [[10, 25, 50, 100, 250, 500], [10, 25, 50, 100, 250, 500]],
    pageLength: 25,
    columns: [
        null,
        null,
        null,
        null,
        { orderSequence: [''] }
    ]
});
</script>
<script>
$(document).ready(function () {
    $(".pagination").addClass("pagination-sm no-margin pull-right");
    $(".close-callout").click(function () {
        $(this).parentsUntil(".pad").remove();
    });
});
</script>
<script>
$(".sidebar-toggle").click(function () {
    $(".side-col").toggleClass("col-lg-1 col-md-2");
    $(".content-col").toggleClass("col-lg-11 col-md-10");
});
</script>
<script>
$(document).ready(function () {
    $(".demo").click(function () {
        $(this).find("i").toggleClass("fa-plus-circle fa-minus-circle");
        var id = $(this).find(".category_child").attr("data-type");
        $(".category" + id).toggleClass("hide");
    });
});
</script>
<script>
document.querySelectorAll('.toggle-status').forEach(button => {
    button.addEventListener('click', async (e) => {
        const categoryId = e.target.dataset.categoryId;
        const currentStatus = e.target.dataset.currentStatus === 'true';
        try {
            const response = await fetch(`/admin/category/${categoryId}/update-status/`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                credentials: 'include'
            });
            if (response.ok) {
                const data = await response.json();
                const statusSpan = e.target.closest('tr').querySelector('.label');
                const statusText = data.status ? 'فعال' : 'غیرفعال';
                statusSpan.textContent = statusText;
                statusSpan.className = `label label-${data.status ? 'success' : 'warning'}`;
                e.target.textContent = data.status ? 'غیرفعال کردن' : 'فعال کردن';
                e.target.dataset.currentStatus = data.status;
            } else {
                const errorData = await response.json();
                alert('خطا: ' + errorData.error);
            }
        } catch (error) {
            console.error('خطا:', error);
            alert('خطای شبکه رخ داده است');
        }
    });
});


function toggleSubmenu(icon) {
    const parentRow = icon.closest('tr'); // یافتن ردیف والد
    let nextSubmenu = parentRow.nextElementSibling; // زیردسته‌ها

    // بررسی وجود زیردسته‌ها
    if (nextSubmenu && nextSubmenu.tagName === 'TBODY') {
        const isHidden = nextSubmenu.style.display === 'none';
        toggleNestedSubmenus(nextSubmenu, !isHidden); // تغییر وضعیت نمایش
        icon.textContent = isHidden ? '-' : '+';
    }
}

// تابع بازگشتی برای نمایش/مخفی کردن زیردسته‌ها
function toggleNestedSubmenus(submenu, show) {
    submenu.style.display = show ? 'table-row-group' : 'none';

    // بررسی زیردسته‌های داخلی
    const innerSubmenus = submenu.querySelectorAll('tbody.submenu');
    innerSubmenus.forEach(innerSubmenu => {
        toggleNestedSubmenus(innerSubmenu, show); // به‌صورت بازگشتی تغییر وضعیت
    });
}


function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>
{% endblock %}