<footer class="position-relative bg-white" id="part--footer">
    <div class="footer-body">
        <div class="footer-bottom1">
            <div class="container-fluid">
                <div class="row top-footer">
                    <div class="col-12 d-block d-md-none mb-4 newsletter">
                        <form action="https://toosshop.com/newsletter/subscribe" method="post">
                            <input type="hidden" name="_token" value="Bqdy8fHePTgZNFOycYqcEEQVT4RYKZGSEeCSsEAM">
                            <label class="font-weight-bold mb-2" for="email">
                                از تخفیف‌ها و جدیدترین‌های کالا باخبر شوید:
                            </label>
                            <div class="row align-items-center">
                                <div class="col-9 p-1">
                                    <input class="bg-white p-2 w-100 rounded" type="email" id="email" name="email"
                                        placeholder="ایمیل خود را وارد کنید">
                                </div>
                                <div class="col-3 p-1">
                                    <button type="submit"
                                        class="signupbtn bg-theme rounded w-100 border-0 py-2 text-white">ثبت </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-6">
                        <div class="footer1" style="border:none;">
                            <h4>اطلاعات تماس</h4>
                            <table class="ft-bo" style="border:none;">
                                <tbody>
                                    <tr class="border-none">
                                        <td class="border-none"><svg class="svg-inline--fa fa-clock" aria-hidden="true"
                                                focusable="false" data-prefix="fas" data-icon="clock" role="img"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                data-fa-i2svg="">
                                                <path fill="currentColor"
                                                    d="M256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512zM232 256C232 264 236 271.5 242.7 275.1L338.7 339.1C349.7 347.3 364.6 344.3 371.1 333.3C379.3 322.3 376.3 307.4 365.3 300L280 243.2V120C280 106.7 269.3 96 255.1 96C242.7 96 231.1 106.7 231.1 120L232 256z">
                                                </path>
                                            </svg></td>
                                        <td class="border-none">
                                            <p> ساعت پاسخگویی: 9:00 تا 21:00</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-6">
                        <div class="col2-ft-list-frst like-together-icon">
                            <h4>راهنمای خرید از فروشگاه</h4>
                            <ul class="lnk-footers">
                                <li><a class="d-block text-dark" href="https://toosshop.com/page/نحوه-ثبت-سفارش"> نحوه
                                        ثبت سفارش</a></li>
                                <li><a class="d-block text-dark" href="https://toosshop.com/page/نحوه-ارسال-سفارش"> نحوه
                                        ارسال سفارش</a></li>
                                <li><a class="d-block text-dark" href="https://toosshop.com/page/نحوه-پرداخت"> نحوه
                                        پرداخت</a></li>
                                <li><a class="d-block text-dark" href="https://toosshop.com/page/قوانین-و-مقررات">
                                        قوانین و مقررات</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-6">
                        <div class="col2-ft-list-second like-together-icon">
                            <h4>خدمات مشتریان</h4>
                            <ul class="lnk-footers">
                                <li><a class="d-block text-dark" href="https://toosshop.com/faqs"> سؤالات متداول</a>
                                </li>
                                <li><a class="d-block text-dark"
                                        href="https://toosshop.com/page/رویه-های-بازگرداندن-کالا"> رویه های باز گرداندن
                                        کالا</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-6">
                        <div class="col2-ft-list-second like-together-icon">
                            <h4>با ما</h4>
                            <ul class="lnk-footers">
                                <li><a class="d-block text-dark" href="https://toosshop.com/news">اخبار سایت</a></li>
                                <li><a class="d-block text-dark" href="https://toosshop.com/articles">مقالات سایت</a>
                                </li>
                                <li><a class="d-block text-dark" href="https://toosshop.com/contacts">تماس با ما</a>
                                </li>
                                <li><a class="d-block text-dark" href="https://toosshop.com/aboutUs">درباره ما</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-3 col-6">
                        <div class="footer5">
                            <h5>باما به روز باشید:</h5>
                            <div class="social-link">
                                <a href="http://www.instagram.com/toosshop_com">
                                    <i class="fab fa-instagram" aria-hidden="true"></i>

                                </a>
                                <a href="http://t.me/toos_complex">
                                    <i class="fab fa-telegram" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>